<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=off">
    <link rel="stylesheet" href="../styles/passqr.css">
    <title>GatePass - QR</title>
</head>
<body>



    <div class="container">
         


            <img src="<%= passqrurl %> " alt="">
            <label>Please show this QR Code to authorized person for verification</label>

            <a href="/home">Close</a>
          
    </div>


    
</body>
</html>